* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.content .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    background-color: rgb(176, 202, 242);
}

.content .left-content .title-section {
    color: rgb(76, 76, 165);
}

.content .right-content {
    display: flex;
    flex-direction: column;

}


.content .left-content .profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.title-section h3 {
    text-transform: uppercase;
}


.list-skill ul li {
    list-style-type: none;
    background-color: white;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 10px;
}
.list-skill ul li:hover {
    background-color: rgb(76, 76, 165);
    transition: 0.2s ease-in-out;
    color: white;
}

.list-certificate {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1rem;
}


p {
    font-style: italic;
}

/* right section */
.right-content {
    display: flex;
    gap: 1rem;
    padding: 2rem 3rem;

}
.right-content h2, h1 {
    color: rgb(76, 76, 165);
}
.information-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media ul {
    display: flex;
    
    gap: 3rem;
}

.social-media ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(176, 202, 242);
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    list-style-type: none;
}

.social-media ul li:hover {
    background-color: rgb(104, 160, 232);
    transition: 0.3s ease-in-out;
}
.experiences {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}